body{
    background-image: url(../img/news_bg.jpg);
    background-size:100% 100%;
    background-size: cover;
    background-repeat:no-repeat;
}
#main{
    background-color: rgba(225,225,225,0.8);
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px skyblue;
}
.content {
    width: 700px;
    margin: 50px auto;
}
.content img {width: 600px;}
.date{
    color: gray;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
.main_img{text-align: center;}
hr {margin: 30px 0 20px 0;}
h2 {text-align: center;}
.content p {text-indent: 2em;padding: 5px;}
.name {text-align: center;}

#zn{
    text-align: center;
    color: wheat;
    width: 100px; height: 30px;
    border: solid 1px;
    margin: 0 auto;
    padding-top: 5px;
    border-radius: 10px;
    background-color: rgb(74, 137, 197);
    cursor: pointer;
}
#zn:hover{
    background-color: rgb(228, 70, 149);
}